.background_img_main_top {
  min-width: 1440px;
  min-height: 600px;
  position: relative;
  background-image: url("../assets/images/main-bg-img.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  padding: 80px 40px;
  color: #ffffff;
  font-weight: 700;
  font-size: 96px;
  line-height: 110%;
}

.categories_section {
  display: flex;
  justify-content: space-between;
}

h2 {
  padding-right: 32px;
  font-size: 64px;
  font-weight: 700;
  line-height: 110%;
}

hr {
  width: 809px;
  margin-top: 11px;
  border: 1px solid #dddddd;
}

.categories_section_upper_title_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 40px 40px;
}

.categories_list {
  display: flex;
  justify-content: center;
  gap: 32px;
  flex-wrap: wrap;
  padding-left: 12px;
}

.category_card {
  text-align: center;
  text-decoration: none;
  color: inherit;
}

.category_image {
  width: 316px;
  height: auto;
  border-radius: 8px;
}

.discount_section {
  background-color: #2451c6;
  margin: 106px 5px 80px 40px;
  border-radius: 10px;
}

.discount_section > h2 {
  color: #ffffff;
  padding: 32px 32px 24px;
  text-align: center;
}

.discount_section_img_form {
  display: flex;
  justify-content: space-between;
}

.discount_section_img_form > img {
  margin-top: 48px;
  width: 720px;
  height: 316px;
  padding: 0 0 0 32px;
}

.discount_form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  padding: 32px;
}

input {
  padding: 18px 225px 14px 32px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: #2451c6;
}

input::placeholder {
  width: 250px;
  font-size: 20px;
  font-weight: 500;
  color: #ffffff;
}

.sale_section_upper_title_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 40px 40px;
}

.sale_section_upper_title_btn > hr {
  width: 1085px;
  margin-top: 11px;
  border: 1px solid #dddddd;
}

.sale_products_list {
  display: flex;
  justify-content: center;
  gap: 32px;
  flex-wrap: wrap;
  padding-left: 12px;
}

.products_list {
  display: flex;
  justify-content: center;
  gap: 32px;
  flex-wrap: wrap;
  padding-left: 12px;
}

.product_card {
  width: 316px;
  height: 422px;
  border: 1px solid #dddddd;
  border-radius: 10px;
  text-align: center;
  text-wrap: pretty;
  text-decoration: none;
  color: inherit;
}

.product_image {
  width: 75%;
  height: 75%;
  object-fit: cover;
  border-radius: 8px;
}
