.card {
    padding: 48px 54px 0 54px;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 42px;
}

.card h3 {
    font-weight: 400;
    padding-top: 12px;
    font-size: 28px;
}
.image {
    width: 300px;
    height: 250px;
}
.name {

}
.price {

}

.btn {
    border-radius: 50%;
    width: 37px;
    height: 37px;
    border: 2px solid grey;
    background-color: transparent;
    cursor: pointer;
}

.card__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 42px 0 24px 0;
}