.news {
  display: flex;
  justify-content: center;
  margin: 28px 0 72px 0;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  gap: 42px;
  margin: 45px 250px 172px 250px;
}

.main h2 {
  margin-left: 250px;
}