h2 {
  text-align: center;
  font-size: 2em;
}

select {
  display: block;
  margin: 20px auto;
  padding: 10px;
  font-size: 1em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 20px auto;
}

p {
  text-align: center;
  line-height: 1.5em;
  margin: 20px 0;
}

ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: center;
  list-style-type: square;
}
