.post {
  margin: 20px;
  padding: 10 5px;
  border: 1px solid;
  text-align: left;
}

.author {
  font-size: 36px;
  text-align: center;
  color: grey;
  letter-spacing: 1.5px;
}

.authorAge {
  text-align: center;
  font-size: 14px;
}
