.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  padding: 111px 0 32px;
  color: #1ed760;
  font-weight: 700;
  font-size: 64px;
  line-height: 100%;
}

p {
  color: #1ed760;
  font-weight: 700;
  font-size: 32px;
  line-height: 100%;
}

.apple__google__twitter--logos {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 18px;
  width: 446px;
  height: 175px;
  margin-top: 31px;
  border: 3px solid #1ed760;
  border-radius: 65px;
}

.google-btn {
  background-color: #0c0417;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 97px;
  height: 98px;
}

.google-btn:hover {
  transform: translateY(20px);
}

.google-icon.default {
  opacity: 1;
  transform: scale(1);
}

.google-icon.hover {
  opacity: 0;
  transform: scale(0.5);
}

.google-icon {
  position: absolute;
  width: 97px;
  height: 98px;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.google-btn:hover .google-icon.default {
  opacity: 0;
}

.google-btn:hover .google-icon.hover {
  opacity: 1;
  transform: scale(1.8);
}

.twitter-btn {
  background-color: #0c0417;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 97px;
  height: 98px;
}

.twitter-btn:hover {
  transform: translateY(20px);
}

.twitter-icon.default {
  opacity: 1;
  transform: scale(1);
}

.twitter-icon.hover {
  opacity: 0;
  transform: scale(0.5);
}

.twitter-icon {
  position: absolute;
  width: 97px;
  height: 98px;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.twitter-btn:hover .twitter-icon.default {
  opacity: 0;
}

.twitter-btn:hover .twitter-icon.hover {
  opacity: 1;
  transform: scale(1.8);
}

.apple-btn {
  background-color: #0c0417;
  border: none;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 97px;
  height: 98px;
}

.apple-btn:hover {
  transform: translateY(20px);
}

.apple-icon.default {
  opacity: 1;
  transform: scale(1);
}

.apple-icon.hover {
  opacity: 0;
  transform: scale(0.5);
}

.apple-icon {
  position: absolute;
  width: 97px;
  height: 98px;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.apple-btn:hover .apple-icon.default {
  opacity: 0;
}

.apple-btn:hover .apple-icon.hover {
  opacity: 1;
  transform: scale(1.8);
}

@media (max-width: 1000px) {
  h1 {
    font-size: 50px;
    text-align: center;
  }

  p {
    font-size: 25px;
  }

  .apple__google__twitter--logos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 215px;
    height: 85px;
    margin-top: 31px;
    border-radius: 30px;
  }

  .apple-btn {
    width: 50px;
    height: 50px;
    border-radius: 10px;
  }

  .apple-icon {
    width: 50px;
    height: 50px;
  }

  .apple-btn:hover {
    transform: translateY(12px);
  }

  .google-btn {
    width: 50px;
    height: 50px;
    border-radius: 10px;
  }

  .google-icon {
    width: 50px;
    height: 50px;
  }

  .google-btn:hover {
    transform: translateY(12px);
  }

  .twitter-btn {
    width: 54px;
    height: 49px;
  }

  .twitter-icon {
    width: 53px;
    height: 54px;
  }

  .twitter-btn:hover {
    transform: translateY(12px);
  }
}

@media (max-width: 430px) {
  h1 {
    font-size: 35px;
    text-align: center;
  }

  p {
    font-size: 20px;
  }
}
