.posts {
  display: flex;
  margin: 0 114px 32px;
  background: rgba(63, 92, 192, 0.8);
  border-radius: 15px;
}

.userLogo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  padding: 11px 10px 9px 23px;
  margin: 25px 0 63px 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 100%;
  color: rgba(9, 8, 8, 0.8);
}

.postBody {
  display: flex;
  flex-direction: column;
  gap: 13px;
  padding: 16px 104px 13px 20px;
}

.postBody > h2 {
  font-size: 32px;
  font-weight: 700;
  line-height: 100%;
}

.postBody > p {
  font-size: 55px;
  font-weight: 700;
  line-height: 100%;
}

.btnBlock > p {
  padding: 25px 0 45px 65px;
}

.btnBlock > button {
  padding: 9px 11px;
  background: rgba(13, 61, 48, 0.4);
  border: none;
  margin: 5px 0 0 65px;
}
